body {
  font-size: 1.6rem;
  text-align: justify;
}

h1,h2,h3,h4,h5 {
  text-align: left;
}

.blue-box {
  background-color: #e6f0ff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.green-box {
  background-color: #d9ffe9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.orange-box {
  background-color: #ffeedf;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.caution, .important, .note, .tip, .warning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #e5cfe2 5px center/3em no-repeat;
  border: 2px solid orange;
  border-radius: 10px;
}

.note {
  background-image: url("img/note.png");
}
